gitpython
huggingface_hub
requests
torch
transformers
scikit-learn
pandas
numpy
flask
gunicorn
python-dotenv
faiss-cpu
transformers
accelerate 
bitsandbytes
torch
langchain_community
langchain_huggingface
colorlog
gdown
accelerate